<div id="newTaskModal" class="accordion-body collapse">
  <div class="accordion-inner">
    <textarea id="new-task-description"></textarea><br>
    <button onclick="submitTask(<%= @project.id %>)" class="btn btn-success">Add Task</button>
  </div>
</div>
